@tailwind base;
@tailwind components;
@tailwind utilities;


/* html, body {
  background-color: #DDB892;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
} */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #DDB892; /* Fallback color */
  background-image: linear-gradient(to bottom right, #F5E6E0, #E6CCB2, #DDB892);
}

@layer base {
  body {
    @apply antialiased text-gray-900;
  }

  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  h4 {
    @apply text-xl font-bold;
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2;
  }

  .btn-primary {
    @apply btn bg-blue-600 text-white hover:bg-blue-700 focus:ring-blue-500;
  }

  .btn-secondary {
    @apply btn bg-white text-gray-700 border-gray-300 hover:bg-gray-50 focus:ring-blue-500;
  }

  .form-input {
    @apply block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm;
  }

  .form-label {
    @apply block text-sm font-medium text-gray-700;
  }

  .card {
    @apply bg-white shadow rounded-lg;
  }
} 